<div class="row">
	<button (click)="generateTown()">Generate Town</button>
</div>
<div class="row" *ngIf="this.townName !== undefined">
	<p><span style="text-decoration: underline;">{{ this.townName.value }}</span>, a <span style="text-decoration: underline;">{{ this.townSize.value }}</span> with <span style="text-decoration: underline;">{{ this.atmosphere.value }}</span> atmosphere. It is mainly inhabited by <span style="text-decoration: underline;">{{ this.inhabitants.value }}</span> and <span style="text-decoration: underline;">{{ this.feature.value }}</span></p>
	<p>Town: {{ this.townName.value }} <span class="dice-rolls">{{ this.formatRolls( this.townName.rolls ) }}</span></p>
	<p>Type: {{ this.townSize.value }} <span class="dice-rolls">{{ this.formatRolls( this.townSize.rolls ) }}</span></p>
	<p>Inhabitants: {{ this.inhabitants.value }} <span class="dice-rolls">{{ this.formatRolls( this.inhabitants.rolls ) }}</span></p>
	<p>Atmosphere: {{ this.atmosphere.value }} <span class="dice-rolls">{{ this.formatRolls( this.atmosphere.rolls ) }}</span></p>
	<p>Feature: {{ this.feature.value }} <span class="dice-rolls">{{ this.formatRolls( this.feature.rolls ) }}</span></p>
</div>