<div class="row">
	<ul class="nav justify-content-center">
		<li class="nav-item" *ngFor="let category of spotify_playlists">
			<a class="nav-link" (click)="gotoAnchor( category.type )">{{ category.type }}</a>
		</li>
	</ul>
</div>
<div *ngFor="let category of spotify_playlists">
	<div class="row" >
		<h3 id="{{ category.type }}">{{ category.type }}</h3>
	</div>
	<div class="row">
		<div class="col-sm-4" *ngFor="let track of category.playlists">
			<div class="card card-spotify" *ngIf="track.url !== ''">
				<app-spotify-player [name]="track.name" [image]="track.image" [url]="track.url" ></app-spotify-player>
			</div>
		</div>
	</div>
</div>