<div class="row centered">
	<div class="btn-group">
		<div class="btn-group" role="group" *ngFor="let r of roll; let i = index">
			<div class="btn-group" role="group" appDropdown>
				<button
						id="btnGroupDrop1"
						type="button"
						class="btn btn-primary dropdown-toggle"
						data-toggle="dropdown"
						[ngStyle]="{'background-color': getColourStyle(i, 1.0),'border-color': getColourStyle(i, 1.0)}">
					{{ r.number }}
				</button>
				<div class="dropdown-menu">
					<a class="dropdown-item" *ngFor="let number of numbers" (click)="setNumber( r, number )">{{ number }}</a>
				</div>
			</div>
			<button
					type="button"
					class="btn btn-primary"
					[ngStyle]="{'background-color': getColourStyle(i, 1.0),'border-color': getColourStyle(i, 1.0)}">
				d
			</button>
			<div class="btn-group" role="group" appDropdown>
				<button
						id="btnGroupDrop2"
						type="button"
						class="btn btn-primary dropdown-toggle"
						data-toggle="dropdown"
						[ngStyle]="{'background-color': getColourStyle(i, 1.0),'border-color': getColourStyle(i, 1.0)}">
					{{ r.die }}
				</button>
				<div class="dropdown-menu">
					<a class="dropdown-item" *ngFor="let die of dice" (click)="setDie( r, die )">d{{ die }}</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12" #canvasContainer>
		<canvas #probCanvas></canvas>
	</div>
</div>
<div class="row probability" *ngIf="this.outcomes !== undefined">
	<div class="col-sm-4" *ngFor="let outcome of this.outcomes; let i = index">
		<div class="card" [ngStyle]="{'background-color': getColourStyle(i, 0.2),'border-color': getColourStyle(i, 1.0)}">
			<div class="card-body">
				<h5 class="card-title">{{ outcome.number }}d{{ outcome.die }}</h5>
				<ul>
					<li>There are <b>{{ outcome.outcomeCount }}</b> possible outcomes</li>
					<li>The lowest value is <b>{{ outcome.lowest }}</b></li>
					<li>The highest value is <b>{{ outcome.highest }}</b></li>
					<li>The average value is <b>{{ outcome.average }}</b></li>
					<li>The number of results is <b>{{ outcome.totalResults }}</b></li>
				</ul>
				<h5 class="card-title">Probability</h5>
				<ul class="probability-list">
					<span *ngFor="let result of outcome.outcomes; let j = index">
						<li *ngIf="result > 0"><b>{{ j + 1 }}:</b> {{ calculatePercent( result, outcome.totalResults ) }}</li>
					</span>
				</ul>
			</div>
		</div>
	</div>
</div>
