.btn-player {
	width: 100%;
	margin: 0 !important;
}

.form-control-toggle {
	display: block;
	width: 100%;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.row-margin {
	margin-bottom: 8px;
}

thead th:first-child, thead {
	border-top-left-radius: 8px;
}

thead th:last-child {
	border-top-right-radius: 8px;
}

thead td, tfoot td, tbody th, tbody td {
	border: 1px solid #DEE2E6;
}

tfoot th:first-child {
	border-bottom-left-radius: 8px;
}

tfoot th:last-child {
	border-bottom-right-radius: 8px;
}

input.inactive {
	background-color: transparent;
	border: none;
}