/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

.navbar {
	margin-bottom: 48px;
}

.btn-green {
	background-color: #c3e6cb;
}

.btn-red {
	background-color: #f5c6cb;
}